/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

table.people{
  border-style: solid;
  border-width: 1px;
  border-collapse:collapse;
  
  
}

table.people td{

  border-top-style: solid;
  border-bottom-style: solid;
  border-color: black;
  border-width: 1px;
  
  margin: 0 2 0 2;
}

table.people th{
  background-color: #CCCCCC;
  
  margin: 0 2 0 2;
}

div.searchbox {
  margin-top: 1em;
}
